# Environment directories
_env/

# Serverless directories
.serverless/

# Node.js dependencies
node_modules/

# Python bytecode files and directories
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Install logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Editor directories and files
.idea/
.vscode/
*.swp
*~

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

gihelper-ecd24ac830f8.json
